<div class="box">
    <div class="view-products"><a id="button-products" class="button" href="/products">Volver</a></div>
    <h1>Productos</h1>
    <div class="products-box">
        {{#each products}}
            <div class="product-card">
                <h3>{{this.product.title}}</h3>
                <hr>
                <p>Categoria: {{this.product.category}}</p>
                <p>Precio: $ {{this.product.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
        {{/each}}
    </div>
</div>